.note-page {
  display: flex;
  height: 100vh;
  background-color: #f5f5f5; /* Light background */
}

.note-sidebar {
  width: 20%; /* Adjust width as necessary */
  background-color: #2c2c54; /* Dark sidebar color */
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.note-editor {
  width: 80%; /* Adjust width to fit next to the sidebar */
  padding: 20px;
  background-color: white; /* Light background for contrast */
  display: flex;
  flex-direction: column;
}
.note-editor.dark-mode {
  background-color: #2c2c54;
  color: white;
}

.add-note-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 20px;
  width: 100%;
}

.note-item {
  padding: 10px;
  margin: 10px 0;
  background-color: #3c3c74;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.note-item.active {
  background-color: #4f4f8b; /* Highlight active note */
}

.delete-note-button {
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
}

.note-title {
  flex-grow: 1;
  color: black;
}

.note-editor input, .note-editor textarea {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  color: black;
}

.note-editor textarea {
  height: 150px;
  color: black;
}

.save-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  align-self: flex-end;
}

